
        body.light-mode {
            background-color: #f8f9fa;
            color: #333;
        }
        
        body.dark-mode {
            background-color: #333;
            color: black;
            
            
        }
      
       
        .navbar-brand img {
            height: 60px;
            width: auto;
            padding: 5px;
        }

        .navbar-custom {
            background-color: #ef3830;
        }
        
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-nav .nav-link,
        .navbar-custom .navbar-toggler-icon {
            color: #fff;
        }

        .footer-custom {
            background-color: #ef3830;
            color: #fff;
        }

        .footer-custom .text-muted {
            color: #fff !important;
        }

        
        
        #button-container {
            position: fixed;
            top: 10px;
            right: 10px;
        }

        .btn-primary {
            background-color: #ef3830;
            border-color: #ef3830;
            outline: 0;
        }

        .btn-primary:hover {
            background-color: white;
            border-color: #ef3830;
            color: #ef3830;
        }

        .carousel-caption {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
        }

        .carousel-caption h5,
        .carousel-caption p {
            color: #fff;
            margin: 0;
        }

        .carousel-caption p {
            margin-bottom: 10px;
        }

        .card {
            transition: transform 0.2s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        .container.mb-5 {
            margin-bottom: 100px !important;
        }

        .carousel-img {
            height: 300px;
            object-fit: cover;
        }

        @keyframes typing {
            from { width: 0; }
            to { width: 50%; }
        }

        @keyframes blink-caret {
            from, to { border-color: transparent; }
            50% { border-color: #ef3830; }
        }

        .typing-animation {
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            border-right: .15em solid #ef3830;
            font-size: 2.5em;
            animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
        }

        .btn-primary:focus {
            color: #fff;
            background-color: #ef3830;
            border-color: #ef3830;
           
            }

        
            .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
            color: #fff;
            background-color: #ef3830;
            border-color: #ef3830;
            }


            .nav-link.active {
                font-weight: bold;
                text-decoration: underline;
            }

            .footer {
                margin-top: auto; /* Push the footer to the bottom */
                
            }

            body {
                display: flex;
                flex-direction: column;
                min-height: 100vh; /* Ensure body takes at least the height of the viewport */
            }


            .why-us-section {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 50px;
            
                margin-bottom: 80px;
            }
           

            .why-us-title {
                font-size: 2.5em;
                margin-bottom: 20px;
                font-weight: bold;
                color: #ef3830;
                margin-bottom: 70px;
                margin-top: 100px;
            }
            .why-us-content {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
            .why-us-item {
                background-color: #fff;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.1);
                max-width: 300px;
                transition: 0.7s ease;
            }


            .why-us-item:hover {
                transform: scale(1.1);
            }
            .why-us-icon {
                font-size: 3em;
                color: #ef3830;
                margin-bottom: 15px;
            }
            .why-us-title-item {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            .navbar-toggler {
                border: none;
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }



                    /* Increase the size of the search form */
        .search-form {
            width: 100%;
            justify-content: center;
        
           
      
        }

        .search-input {
         
            height: 45px;
            border: 2px solid #ef3830;
            border-radius: 5px;
            transition: border-color 0.3s;
            background-color: rgba(255, 255, 255, 0.5); /* white background with 50% opacity */

        
        }
        /* Change the highlight color of the input */
        .search-input:focus {
            border-color: #ef3830;
           
            box-shadow: 0 0 10px rgba(239, 56, 48, 0.5);
            outline: none;
            background-color: rgba(255, 255, 255, 0.5); /* white background with 50% opacity */

        }



        .card{
          
            box-shadow: 0 5px 30px rgba(1, 1, 1,15% );
           
            transition: 0.7s ease;
        } 

        .card:hover {
            transform: scale(1.08);
        }
        
        


        .video-container {
            position: relative;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
        #background-video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
            margin-top: 200px;
            
        }


        .jumbotron {
            background-color: rgba(255, 255, 255, 0.5); /* white background with 50% opacity */

        }
       

        .animation-container {
            position: absolute;
            top: 20%;
            right: 0;
            transform: translateY(-50%);
            width: 150px;
            height: 150px;
        }

        .icon{
            color:#ef3830 ;
            font-size: 5em;
            text-align: center;
        }

        
        @media (max-width:500px) {

.animation-container{
    width: 15%;
    height: 15%;
}
.jumbotron{

    font-size: 14px;

}
.jumbotron h1{

    font-size: 22px;

}
.btn-primary {
    background-color: #ef3830;
    border-color: #ef3830;
    outline: 0;
    font-size: smaller;
}
.search-input {
         
    height: 35px;
    border: 2px solid #ef3830;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: rgba(255, 255, 255, 0.5); /* white background with 50% opacity */


}
.btn btn-dark{

    font-size: smaller;
}



        }