

.quiz-container {
    background: rgb(235, 233, 233);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 800px;
    padding: 20px;
    text-align: center;
    font-size: larger;
    margin-bottom: 200px;
}






.quiz-header {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #ef3830 ;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: white;
    color: #ef3830;
    border: 1px solid #ef3830;
}


.question-number {
    font-size: 1.2em; /* Adjust size */
    font-weight:400 ;/* Make it bold */
    color: #16886e; /* Change color */
    margin-bottom: 10px; /* Space below the question number */
}


/* Responsive styles for screens 500px or less */
@media (max-width: 500px) {
    .quiz-container {
        font-size: medium; /* Further reduce font size for smaller screens */
        padding: 10px; /* Further adjust padding for smaller screens */
        width: 100%;
        margin-bottom: 50px; /* Further adjust margin for smaller screens */
    }

    .question-number {
        font-size: 0.8em; /* Further reduce font size for smaller screens */
    }


}