.image {
    text-align: center;
}

/* Container for fixed position */
.fixed-bottom-right {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    display: flex;
    gap: 100px; /* Space between the buttons */
}

/* Style for the buttons to ensure they look nice */
.btn {
    padding: 10px 20px; /* Adjust as needed */
    font-size: 17px; /* Adjust as needed */
    border-radius: 8px; /* Adjust as needed */
    text-decoration: none; /* Remove underline from links */
    color: white; /* Button text color */
    display: inline-block; /* Ensure buttons are inline */
    text-align: center; /* Center text inside buttons */
    margin-right: 0px; /* Adjust space between the buttons */
}


 
.custom-card {
    width: 100%; /* Adjust as needed */
}

.custom-card .card-img-top {
    height: 300px; /* Make image larger */
    object-fit: cover; /* Ensure the image covers the area */
}

.custom-card .btn {
    margin-top: 30px;
    margin-right: 10px; /* Add space between buttons */


}